CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
cmake-modules

Makefile
.ninja_deps
.ninja_log
build.ninja
rules.ninja
*.xcodeproj

build
*.build
Debug
Release
MinSizeRel
RelWithDebInfo
/zenith
prefs.cfg
