CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
cmake-modules

Makefile
.ninja_deps
.ninja_log
build.ninja
rules.ninja
*.xcodeproj
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

*build
Debug
Release
MinSizeRel
RelWithDebInfo
/zenith
*.exe
*.a
*.dll
*.pdb
*.ilk
prefs.cfg
*.sav
